body {
    font-family: Open Sans;
}

/* Header section */
#title {
    background-color: #004175;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #89DEEF;
    padding-left: 65px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 50px;
}
#subTitle {
    padding-left: 65px;
    font-size: 35px;
}
#introParagraph {
    padding-left: 65px;
    font-size: 28px;
}

/*Main body with available dogs*/
#main { 
    padding-left: 65px;
    padding-top: 50px;
}

