/* Font */
* {
    font-family: Open Sans;
}

body {
}

/* Left padding for most of the page*/
#header, #sub-header, #intro, #main {
    padding-left: 65px;
}

/* Header section */
#header {
    background-color: #004175;
    border-color: #89DEEF;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    color: #FFFFFF; 
    font-size: 40px;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#sub-header {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
}
#intro {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
}

/*Main body with available dogs*/
#main { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dog-entry {
    padding-right: 15px;
}
.dog-image  {
    margin-top: 50px;
    width: 400px;
}
.dog-name {
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.dog-traits {
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
}
.trait {
    background-color: #89DEEF;
    border-style: solid;
    border-radius: 15px;
    border-color: #89DEEF;
    font-size: 14px;
    margin-right: 8px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding: 3px;
}

/* Footer  */
#footer {
    display: flex;
    flex: 1 1 auto;
    margin-top: 75px;
}
.footer-element {
    height: 300px;
    padding: 0px;
    width: 500px;
    text-align: center;
}
.footer-element-header {
    color: #FFFFFF;
    font-size: 35px;
    padding-top: 100px;
}
.footer-element1 {
    background: rgba(166, 169, 240, .25), url(starter_files/images/donate.jpg);
    background-position: center;
    background-size: cover;
}
.footer-element2 {
    background: url(starter_files/images/volunteer.jpg);
    background-position: center;
    background-size: cover;
}
.footer-element3 {
    background: url(starter_files/images/location.jpg);
    background-position: center;
    background-size: cover;
}

/* background-color: rgba(166, 169, 240, .25); */